<article id="content" class="post">
  <h1 class="post-title">{{ .Title }}</h1>
  <div class="post-content">
    {{ .Content }}
  </div>


  <div class='post-meta'>
    <i class="fa fa-clock-o"></i>
    <span class="small">
      posted {{ if and (isset .Params "source_url") (isset .Params "source_name") }}
      in <a href="{{ .Params.source_url }}">{{ .Params.source_name }}</a>
      {{ end }}
      on {{ .Date.Format "Monday, Jan 2 2006" }}
    </span>
  </div>
  <div class='post-terms'>
    <i class="fa fa-tags"></i>
    <span class="small">
      {{ with .Params.tags }}
      {{ delimit (apply . "partial" "posts/tags" ".") ", " }}
      {{ end }}
    </span>
  </div>
</article>