<!doctype html>
<html lang="en">
  {{ partial "head.html" . }}

  <body>
    <div class="wrapper">
      {{ partial "header.html" . }}

      <section>
      {{ .Render "_post" }}
      </section>

    </div>

    {{ partial "footer.html" . }}
  </body>
</html>
