<article class="post">
  <a href="{{ .Permalink }}#content">
    <h2 class="post-title">{{ .Title }}</h2>
  </a>
  <p class="post-excerpt">
    {{ .Description | safeHTML }}
  </p>
  <div class='post-meta'>
    <i class="fa fa-clock-o"></i>
    <span class="small">
      posted {{ if and (isset .Params "source_url") (isset .Params "source_name") }}
      in <a href="{{ .Params.source_url }}">{{ .Params.source_name }}</a>
      {{ end }}
      on {{ .Date.Format "Monday, Jan 2 2006" }}
    </span>
  </div>
  <div class='post-terms'>
    <i class="fa fa-tags"></i>
    <span class="small">
      {{ with .Params.tags }}
      {{ delimit (apply . "partial" "posts/tags" ".") ", " }}
      {{ end }}
    </span>
  </div>
</article>