
    <script src="/assets/javascripts/scale.fix.js"></script>
    <script src="/assets/javascripts/highlight.pack.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.7.0/languages/dos.min.js"></script>
    
    <script>hljs.initHighlightingOnLoad();</script>
    {{ partial "analytics" . }}
