  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>{{if ne .Permalink "/"}}{{ .Title }} - {{end}}{{ .Site.Title }}</title>

    <!-- <base href="{{ .Site.BaseURL }}"> -->

    {{ if isset .Params "tags" }}
    <meta name="description"
      content="Welcome to Massimo Ronca website, this post is about: {{delimit .Params.tags ", "}}">
    {{ else }}
    <meta name="description"
      content="Welcome to Massimo Ronca website. I am a full stack developer, and definitely a tech enthusiast. This is about what I do." />
    {{ end }}

    <!-- fonts -->
    <link href="https://fonts.googleapis.com/css?family=Fira+Code&display=swap" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Inconsolata' rel='stylesheet' type='text/css'>
    <!-- <link rel="stylesheet" href="/assets/stylesheets/fonts.css"> -->
    <!-- /fonts -->
    <link rel="stylesheet" href="/assets/stylesheets/styles.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">


    <link rel="stylesheet" href="/assets/stylesheets/solarized-dark.css">
    <link href="{{ with .OutputFormats.Get "RSS" }}{{ .RelPermalink }}{{ end }}" rel="alternate"
      type="application/rss+xml" title="{{ .Site.Title }}" />

    <link rel="icon" type="image/png" href="/assets/images/mr_icon.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    {{ template "partials/_internal/opengraph.html" . }}
    {{ template "_internal/google_news.html" . }}
    {{ template "_internal/schema.html" . }}
    {{ template "_internal/twitter_cards.html" . }}

    <!-- default image -->
    <meta property="og:image" content="{{"assets/images/default_image.jpg" | absURL}}" />
    <meta itemprop="image" content="{{"assets/images/default_image.jpg" | absURL}}">
    <meta name="twitter:image" content="{{"assets/images/default_image.jpg" | absURL}}" />
  </head>