<!doctype html>
<html lang="en">
{{ partial "head.html" . }}

<body>
  <div class="wrapper">
    {{ partial "header.html" . }}

    <section>
      {{ range (where .Data.Pages "Type" "post") }}
      {{ range .Data.Pages }}
      {{ .Render "summary"}}
      {{ end }}
      {{ end }}
    </section>
  </div>

  {{ partial "footer.html" . }}
</body>

</html>