body {
  padding: 0;
  margin: 0;
  font: 16px/2 "Menlo", "Fira code", "DejaVu Sans Mono", "Lucida Console", "adelle", monospace;
  color: #657b83;
  background: #fdf6e3;
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: inherit;
  margin: 0;
}

ul,
ol,
table,
pre,
dl {
  margin: 0 0 2rem;
}

h1,
h2,
h3 {
  line-height: 1.1;
}

h1 {
  font-size: 1.5em;
}

a {
  color: #268bd2;
  text-decoration: none;
}

a:hover {
  color: #dc322f;
}

a small {
  font-size: 11px;
  color: #777;
  margin-top: -0.6em;
  display: block;
}

.wrapper {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 2rem;
}

code,
pre {
  font-size: 1.2rem;
  font-family: Inconsolata, Monaco, Bitstream Vera Sans Mono, Lucida Console, Terminal;
  font-weight: lighter;
}

pre {
  overflow-x: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  text-align: left;
  padding: 5px 10px;
  border-bottom: 1px solid #e5e5e5;
}

dt {
  color: #444;
  font-weight: 900;
}

th {
  color: #444;
}

img {
  max-width: 100%;
}

header {
  position: relative;
  padding: 2rem 0 1rem;
  margin: 0;
  border-width: 2px;
}

header small {
  display: block;
  color: #93a1a1;
}

header .logo {
  margin: 0;
  max-height: 50px;
}

header nav {
  display: inline-block;
  position: absolute;
  right: 0;
  top: 2rem;
  font-size: 1rem;
}

nav ul {
  list-style: none;
  list-style-type: none;
  padding: 0 25px;
  width: auto;
}

nav li {
  width: auto;
  float: left;
  height: 100%;
}

nav ul a {
  line-height: 1;
  display: block;
  text-align: center;
  padding: 6px;
  height: auto;
}

nav ul a::before {
  content: '[ ';
}

nav ul a::after {
  content: ' ]';
}

nav ul a:hover {
  color: #dc322f;
}

strong {
  /* color: #222; */
  font-weight: 900;
}

section {
  width: 100%;
  float: right;
  padding-bottom: 50px;
}

article {
  padding-bottom: 2em;
}

small,
.small {
  font-size: 0.9em;
}

hr {
  border: 0;
  background: #e5e5e5;
  height: 1px;
  margin: 0 0 2rem;
}

footer {
  margin: auto;
  position: relative;
}

.header-title {
  text-transform: uppercase;
  font-size: 2.4vw;
}

.header-title a {
  color: #ff6;
}

.header-title a:hover {
  color: #dc322f;
}

.post:first-of-type {
  margin-top: 2rem;
}

.post {
  position: relative;
  border-width: 2px;
  margin: 0;
}

.post-title,
.tag-title {
  font-size: 1.4em;
  font-weight: 500;
  position: relative;
  display: inline-block;
  color: inherit;
  color: #586e75;
}

h1.post-title {
  font-weight: bold;
}

.post-title::before {
  content: '*';
  transform: translateX(-1.5rem);
  position: absolute;
  color: inherit;
}

a:hover .post-title,
a:hover .post-title::before {
  color: inherit;
}

.post-content,
.post-excerpt,
.page {
  line-height: 1.5;
}

.post-excerpt img.fill {
  width: 100%;
  max-width: 100%;
  height: auto;
}

.post-excerpt img.left-side,
.post-excerpt img.right-side {
  height: auto;
}

.post-excerpt img.left-side {
  float: left;
  margin: 8px 1rem 1rem 0;
}

.post-excerpt img.right-side {
  float: right;
  margin: 8px 0 1rem 1rem;
}

.post-content>ul li a {
  font-weight: normal;
  text-decoration: underline;
}

.post-content figure {
  margin: 0;
  background: #002b36;
}

.post-content figure img {
  margin: 0;
  max-width: 100%;
  max-height: 100vh;
}

blockquote,
.post-content figure figcaption {
  margin: -7px 0 1rem 0;
  font-style: italic;
  background: #eee8d5;
  padding: 0.5rem 1rem;
}

blockquote:before,
.post-content figure figcaption:before {
  content: '»';
  float: left;
  padding-right: 8px;
}

blockquote>*,
.post-content figure figcaption>* {
  font-weight: 400;
  margin: 0;
}

blockquote>p {
  margin-left: 1.2rem;
}

.post-meta {
  display: block;
  clear: both;
  color: #93a1a1;
}

.post-terms {
  line-height: 1.6rem;
}

.post-meta .fa,
.post-terms .fa {
  -webkit-transform: translate(0, 4px);
  -moz-transform: translate(0, 4px);
  -ms-transform: translate(0, 4px);
  transform: translate(0, 4px);
}

.tag-title {
  border-color: transparent !important;
  padding-top: 2rem;
}

.tag-title .tag {
  color: #dc322f;
  font-size: 1.2em;
}

.tag-title .fa {
  color: #dc322f;
}

.view a {
  margin-left: 40px;
  color: #ff6;
  font-size: 0.8em;
}

.view .github-logo {
  position: absolute;
  top: 50%;
  margin-top: -17px;
}

article .highlight {
  font: 0.8em "droid-sans-mono", monospace;
  color: white;
  background: #1d232a;
  margin-top: -0.8em;
  margin-bottom: 0.9em;
  font-weight: lighter;
}

.highlight pre {
  counter-reset: line-numbering;
  /*padding-right: 0.5em;*/
}

.highlight a,
.highlight a:hover {
  border: none;
  text-decoration: none;
}

.highlight pre a:before {
  content: counter(line-numbering);
  counter-increment: line-numbering;
  padding: 0 1em 0 0.5em;
  /* space after numbers */
  width: 25px;
  text-align: right;
  opacity: 0.7;
  display: inline-block;
  color: #797979;
  background: #093642;
  margin-right: 16px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.highlight pre a:first-of-type:before {
  padding-top: 10px;
}

.highlight pre a:last-of-type:before {
  padding-bottom: 10px;
}

.highlight pre a:only-of-type:before {
  padding: 10px;
}

code {
  background: #eee8d5;
  font-size: 1em;
  line-height: 1.3em;
  color: #333;
  font-weight: bold;
  margin: 0;
  padding: 0.2rem !important;
  border-radius: 0.2em;
}

pre code.hljs {
  border-radius: 0;
  padding: 1rem !important;
}

.highlight code {
  font-size: 1em;
}

blockquote code {
  /*font-size: 1em;*/
  color: inherit;
  background: none;
  margin: 0 0.1em;
  border: none;
}

pre+blockquote {
  margin: -1.2rem 0 2rem 0;
}

img[alt="graft knife"],
img[alt="ronco knives"] {
  width: 100%;
}

/*clearfix */

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clearfix {
  display: inline-block;
}

html[xmlns] .clearfix {
  display: block;
}

* html .clearfix {
  height: 1%;
}

@media print,
screen and (max-width: 960px) {
  body {
    margin: 0;
    padding: 0;
  }

  div.wrapper {
    width: auto;
    margin: 0;
  }

  section {
    padding: 2rem 0;
    margin: 0 0 2rem;
  }

  header a small {
    display: inline;
  }

  header ul {}

  article.post {
    padding: 0 0 2rem;
    margin: 1rem 0 2rem;
  }

  footer {
    padding: 5px 0;
  }

  footer .view {
    position: relative;
  }

  .tag-title {
    margin-left: 0;
  }

  .header-title {
    font-size: 5vw;
  }

  .view .github-logo {
    position: absolute;
    top: 50%;
    margin-top: -17px;
  }

  .post-content,
  .post-excerpt,
  .page {
    /*text-align: justify;*/
  }
}

@media print,
screen and (max-width: 72rem) {
  body {
    word-wrap: break-word;
  }

  header ul,
  header p.view {
    position: static;
  }

  pre,
  code {
    word-wrap: normal;
  }
}

@media print,
screen and (max-width: 480px) {
  body {
    min-width: 32rem;
    margin: 0;
    padding: 0;
  }

  body,
  code {
    font-size: 0.8em;
  }

  header {
    padding: 1em 0;
  }

  header .logo {
    max-height: 30px;
  }

  header nav {
    top: 0.6rem;
    font-size: 0.6rem;
  }

  header nav ul {
    display: inline-block;
  }

  .wrapper {
    padding: 0 1.5rem;
  }

  article.post {
    padding: 0 0 2rem;
    margin: 0;
  }

  .post:first-of-type {
    margin-top: 0;
  }

  .post-content {
    word-break: break-word;
  }

  .post-title,
  .tag-title {
    font-size: 1.2em;
  }

  .post-title::before {
    transform: translateX(-1rem);
  }

  .post-terms {
    line-height: 1rem;
  }

  pre code.hljs {
    font-size: 0.8rem;
  }
}

@media print,
screen and (max-width: 379px) {
  header small {
    font-size: 0.7em;
  }

  header nav ul {
    padding: 0;
  }
}

@media print {
  body {
    padding: 0.4in;
    font-size: 12pt;
    color: #444;
  }
}